
body{
    background:#CEB0B2;
    
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: xx-large;
}

#temp-section {
    border-color: grey;
    border-style: solid;
    border-width: thick;
    border-radius: 10%;
    box-shadow: 5px 5px 10px thistle;
}