
body{
    background: linear-gradient(290deg, rgb(41, 37, 104) 0%, rgb(139, 102, 241) 100%);
    
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

#temp-section, #inputFormBox {
    border-color: silver;
    border-style: solid;
    border-width: thick;
    border-radius: 10%;
    box-shadow: 5px 5px 10px whitesmoke;
}